[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-batzap
Exec=harbour-batzap
Name=BatZap
# translation example:
# your app name in German locale (de)
Name[de]=BatZap

